<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="${usesCleartextTraffic}"
      android:supportsRtl="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:scheme="sample"
                  android:host="smartech_sdk_td" />
          </intent-filter>
          <intent-filter>
              <action android:name="android.intent.action.VIEW" />

              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />

              <data android:scheme="netcorepx" />
          </intent-filter>


      </activity>

      <meta-data
            android:name="SMT_APP_ID"
            android:value="cc8ef5ea95a4e3a080cb2fb77b30795a" />

        <meta-data
            android:name="HANSEL_APP_ID"
            android:value="ONX0I456UAVC09PSM8991PKAR" />
        <meta-data
            android:name="HANSEL_APP_KEY"
            android:value="TP2AME83E1WWLSCF7GRBXI4OSH922W94PQJFLN3YP21L0X5QEN" />
    </application>
</manifest>
